@import url('https://fonts.googleapis.com/css?family=Poppins:700');
/* body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #FFB1A4;
  
  display: flex;
  align-items: center;
} */

/* h1 {
  color: white;
  font-size: 20vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 40px;
} */
.blob1 {
  position: absolute;
  top: 0;
  left: 0;
  fill: #f2fe1a;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.blob2 {
  position: absolute;
  top: 0;
  left: 0;
  fill: #2c98f0;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  0%   { transform: scale(1)   translate(10px, -30px); }
  /* 78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); } */
}